
<p>
  <b>Name:</b>
  <%=@oyoyo.name %>
</p>

<p>
  <b>Comment:</b>
  <%=@oyoyo.comment %>
</p>

<p>
  <b>Date:</b>
  <%=@oyoyo.date %>
</p>


<%= link_to 'Edit', edit_oyoyo_path(@oyoyo) %> |
<%= link_to 'Back', oyoyos_path %>